.s1{
    width: 100%;
    background-image: url(../Assets/Img/crumpled-paper.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vw;
}
.s1-cntnt{
    width: 80%;
    margin: 0 10%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 3%;
}
.left-s1{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.left-s1-d1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5%;
    font-family: reg;
    font-size: 0.8vw;
    color: var(--white);
}

.icon_done{
    width: 2vw;
}

.left-p{
    font-family: light;
    -webkit-text-stroke: 0.5px var(--white);
    font-size: 3vw;
    
}

.middle-s1{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin-top: -5%;
}

.middle-s1-part1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.decor_hero{
    width: 35%;
    margin-right: -2.5%;
    z-index: 999;
    margin-bottom: -3%;
}

.hero_text1{
    font-family: bold ;
    color: var(--white);
    font-size: 4vw;
}

.decor_text_hero{
    font-family: decor;
    color: var(--main-color);
    font-size: 10vw;
    font-weight: 100;
    z-index: 9999;
    position: relative;
}

.text_hero{
    margin-top: -20%;
}
.text_hero2{
    margin-top: -5%;
}

.middle-s1-part2 {
    border: solid 1px var(--pink);
    border-style: dashed;
    stroke-dasharray: 6 16;
    width: 50%;
    text-align: center;

    font-family: bold;
    font-size: 2.2vw;
    color: var(--pink);
    margin-top: 3%;
    padding: 1% 0;
}

.right-s1{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.right-p{
    font-family: reg;
    font-size: 1.5vw;
    color: var(--white2);
    margin-bottom: 1%;
}

.s2{
    width: 90%;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    padding: 3% 0;
}

.chall-btn{
    font-family: semi;
    font-size: 1.5vw;
    color: var(--white);
    background-color: var(--sec-color);
    border-radius: 200px;
    padding: 1% 4%;
}

.prblm-btn{
    font-family: reg;
    font-size: 1.5vw;
    color:  rgba(255, 255, 255, 0.139);
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 200px;
    padding: 1% 4%;
}

.chalenge-sec{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 3% 0;
}

.chalenge-sec-d1{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.chal_p{
    font-family: luicy;
    color: var(--main-color);
    font-size: 5vw;
    font-weight: 100;
}

.chal_p2{
    font-family: light;
    color: var(--white2);
    font-size: 2vw;
    line-height: 140%;
}

.chalenge-sec-d2{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: reg;
    text-align: start;
    gap: 8px;
}

.chal_card1{
    width: 80%;
    color: var(--main-color);
    rotate: -3deg;
    font-size: 1.5vw;
    background-color: white;
    padding: 5% 10%;
    border-radius: 50px;
    box-shadow: 2px 10px 20px 2px rgba(38, 38, 38, 0.336);
}

.chal_card2{
    width: 80%;
    color: #EA7509;
    font-size: 1.5vw;
    background-color: #F7FFE3;
    padding: 5% 10%;
    border-radius: 50px;
}

.chal_card3{
    width: 80%;
    color: var(--main-color);
    rotate: -3deg;
    font-size: 1.5vw;
    background-color: #DEF7FF;
    padding: 5% 10%;
    border-radius: 50px;
    z-index: 100;
    box-shadow: 2px 10px 20px 2px rgba(38, 38, 38, 0.336);
}

.chal_card4{
    width: 80%;
    color: #EA7509;
    rotate: 0deg;
    font-size: 1.5vw;
    background-color: #ffffff;
    padding: 5% 10%;
    border-radius: 50px;
    box-shadow: 2px 10px 20px 2px rgba(38, 38, 38, 0.336);
}

.s3{
    width: 95%;
    padding: 5% 0 0 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 300vh;
}

.s3_hero{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 60%;
    font-family: luicy;
    font-weight: 200;
    font-size: 8vw;
    color: var(--main-color);
}

.line_green{
    width: 100%;
}

.how_cntnt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5vw;
    overflow: hidden;

    display: flex;
    gap: 40px;
    height: 100%;
    align-items: center;
    will-change: transform;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.s4{
    width: 90%;
    background-color:#1E1E1E;
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.head_s4_div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.head_s4_div1{
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 3px;
    flex-direction: column;
}

.head_s4_h{
    font-family: luicy;
    color: var(--white);
    font-size: 5vw;
}

.all_head_s4_p{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--white);
    border-style: dashed;
    stroke-dasharray: 6 16;
    color: var(--white2);
    font-family: reg;
    font-size: 3vw;
    width: 65%;
    padding: 1% 2%;
}

.span_s4_1{
    background-color: var(--main-color);
    color: var(--white2);
    rotate: -5deg;
    padding: 1% 2%;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0px 2px 20px 2px #021601;
    margin-left: -1%;
    font-size: 2vw;
}
.head_s4_p2{
    margin-left: -1%;
}

.plate_span{
    color: rgb(198, 57, 148);
}

.head_s4_div2{
    text-align: end;
    font-family: light;
    font-size: 1.5vw;
    line-height: 140%;
    color: var(--white2);
    width: 30%;
}

.safety_cards{
    width: 100%;
    padding: 3% 0%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 15px;
}

.safety_cards_d1{
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.safety_cards1{
    width: 92%;
    padding: 5% 4%;
    background-color: #F8FFF6;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 15px;
    color: var(--main-color);
    border-radius: 5px;
}

.safety_cards1_h{
    font-family: semi;
    font-size: 2vw;
}

.safety_cards1_p{
    font-family: light;
    font-size: 1.5vw;
    width: 70%;
}

.safety_cards2{
    width: 92%;
    padding: 5% 4%;
    background-color: #FFECF5;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 15px;
    color: var(--main-color);
    border-radius: 5px;
}

.safety_cards_d2{
    /* width: 25%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.safety_cards3{
    width: 92%;
    padding: 5% 4%;
    background-color: #FFF9F3;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 15px;
    color: #EA7509;
    border-radius: 5px;
}

.safety_cards4{
    width: 92%;
    padding: 5% 4%;
    background-color: #FFFFFF;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 15px;
    color: #137D9D;
    border-radius: 5px;
}

.s5{
    width: 90%;
    padding: 5% 5% 0 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
}

.btns_feed{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.feed_opinion_div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feed_card{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

.folder_img{
    width: 100%;
    position: relative;
}

.feed_details_div{
    width: 18%;
    padding: 3% 1%;
    position: absolute;
    background-color: #1E1E1E;
    border: solid 3px #b60c9c;
    border-style: dashed;
    stroke-dasharray: 6 16;
    border-radius: 15px;
    height: 35vh;
    rotate: -5deg;
}

.feed_details_div1{
    width: 90%;
    padding: 0 5%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: -28%;
}

.details_feed{
    width: 90%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: reg;
    color: var(--white2)
}

.user_feed_img{
    width: 43%;
}

.user_feed_no_task{
    font-family: reg;
    color: var(--main-color);
    padding: 3% 8%;
    background-color: var(--white);
    border-radius: 15px;
    text-align: center;
    margin-top: 7%;
    font-size: 16px;
}

.name-rate-div{
    width: 100%;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-feed{
    color: var(--white);
    font-family: semi;
    font-size: 20px;
}

.name-rate-div2{
    width: 100%;
    padding-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3%;
}

.rate{
    margin-right: -3%;
}

.type-feed-div{
    font-family: reg;
    font-size: 1.5vw;
    line-height: 140%;
    padding-top: 6%;
    color: #f8fff68a;
    border-top: solid 1px ;
}

.bck-nxt-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 2vw;
    font-family: reg;
    color: white;
    padding: 5% 0 2% 0;
}

.bck_icon{
    width: 1.6vw;
}

.s6{
    width: 100%;
    background-image: url(../Assets//Img//FeaturesSectionBck.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_s6{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div1_s6{
    width: 30%;
    background-color: var(--main-color);
    padding: 3% 5% 3% 5%;
    height: 30vw;
    border-radius: 0 15px 15px 0;
}

.head_s6_h{
    font-family: luicy;
    color: var(--white);
    font-size: 3.3vw;
    padding-top: 3%;
}

.div1_s6_loc{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3px;
    font-family: reg;
    font-size: 1.5vw;
    color: var(--white);
    padding: 2% 0;
}

.loc_icon{
    width: 10%;
}

.p_loc{
    font-family: light;
    font-size: 1.5vw;
    color: var(--white2);
    padding: 2% 0;
}

.Explore_btn{
    width: 50%;
    text-align: center;
    padding: 4% 5%;
    font-family: semi;
    background-color: var(--sec-color);
    color: var(--white);
    border-radius: 20px;
    margin-top: 5%;
}

.div2_s6{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_feat{
    width: 18%;
}

.grp_loc{
    width: 60%;
}