.label_nav{
    text-decoration: none;
}

.a{
  text-decoration: none;
  color: var(--white);
}
.a2{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.32);
  font-family: light;
}
header {
  margin: 0% 10%;
  padding: 1% 5%;
  width: 70%;
  background-color: #1f1f1fb5;
  border-radius: 55px;
  position: absolute;
  top: 10px;
  left: 40%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5%;

}


.whitelogo{
    width: 100%;
}

.logoWhite{
    width: 90%;
}

.logo_name{
    color: var(--white);
    font-family: luicy;
    font-size: 3vw;
    font-weight: 100;
    color: #ffffff;
    -webkit-text-stroke: 2px #1f1f1fb5
}

nav{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    font-family: reg;
    color: var(--white);
    font-size: 1.1vw;
    text-decoration: none;
}

.dropdown_div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    text-decoration: none;
}


.cta-download-div{
    width: 20%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}

.cta-download{
    width: 60%;
    padding:  8% 7%;
    color: var(--white);
    background-color: var(--sec-color);
    font-family: semi;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
}




.dropdown_div {
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.dropdown_header {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.arrow {
  transition: 0.3s;
  text-decoration: none;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.dropdown_menu {
  position: absolute;
    top: 3vw;
    left: 0;
    background: #14141459;
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 15vw;
    border: 1px solid #011701;
    text-decoration: none;
    text-decoration: none;
    color: #fefefe;
    z-index: 9999;
}