.s_teens_hero{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -2%;
}

.solution_img{
    width: 50%;
    position: relative;
    z-index: 9999;
}

.solution_p{
    font-family: luicy;
    color: var(--white);
    border-bottom: solid 1px var(--white);
    font-size: 10vw;
    position: absolute;
    margin-right: -50%;
    margin-top: 15%;
}

.solution_p2{
    width: 40%;
    font-family: reg;
    color: var(--white2);
    font-size: 1.5vw;
    text-align: end;
    margin-top: -3%;
    margin-right: -48%;

}


