*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #141414;
}

:root {
    --main-color: #2C5E49;
    --sec-color:#A609F0;
    --white:#FFFFFF;
    --white2:#ffffffbe;
    --pink:#DDAEC5;
}

@font-face {
    font-family: luicy;
    font-weight: 100;
    src: url(fonts/Luicy-Regular\ Demo.ttf);
}



@font-face {
    font-family: Reg;
    src: url(fonts/AlbertSans-Regular.ttf);
}

@font-face {
    font-family: Semi;
    src: url(fonts/AlbertSans-SemiBold.ttf);
}

@font-face {
    font-family: Bold;
    src: url(fonts/AlbertSans-Bold.ttf);
}

@font-face {
    font-family: light;
    src: url(fonts/AlbertSans-Light.ttf);
}

@font-face {
    font-family: decor;
    src: url(fonts/MeaCulpa-Regular.ttf);
}