.downloadTag{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: var(--sec-color);
    padding: 2% 0%;

    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
/* 
.downloadTag {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
} */

.track {
  display: flex;
  gap: 30px;
  width: max-content;
  animation: scroll 15s linear infinite;
}

/* animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
