.header_div{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.header{
    font-family: luicy;
    color: var(--main-color);
    font-size: 5vw;
    font-weight: 100;
    background-color: #141414;
    padding: 2% 0 0 0 ;
}