.skill_sol{
    width: 10%;
    padding: 2%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: reg;
    color: black;
    border-radius: 15px;
    height: 5vw;
    font-size: 1.3vw;
    gap: 10px;
}