.WalkThrough_head{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-family: luicy;
    color: var(--main-color);
    font-size: 3vw;
}